<%= form_for(@power_assignment) do |f| %>
  <% if @power_assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@power_assignment.errors.count, "error") %> prohibited this power_assignment from being saved:</h2>

      <ul>
      <% @power_assignment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :power %><br />
    <%= f.select :power,  @available_powers.collect {|pa| [pa, pa] } %>
  </div>

  <%= f.hidden_field :game_id %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
