<div id="players" class="tab-pane active">
<% if user_signed_in? and (not @game.started?) %>
	<% if joined?(current_user, @game) %>
		<%= link_to "Change power", edit_game_power_assignment_path(@game, power_for_user(current_user, @game)) %>
		<%= link_to "Start game", start_game_path(@game), method: :put %>
	<% else %>
		<%= link_to "Join game", new_game_power_assignment_path(@game) %>
	<% end %>
<% end %>
<table class="table">
<% @power_assignments.reverse.each do |power| %>
	<tr>
		<td><b class="<%= power.power %>"><%= power.power %></b><%= " (#{power.user.name})" if power.user.present? %></td>
		<td><%= "<span>#{@sc_list_per_power[power.power.to_sym].length}</span> SCs".html_safe %></td>
	</tr>
<% end %>
</table>
</div>
