
<h2>Current online games</h2>
<table>
  <tr>
    <th>Game Title</th>
    <th>Variant</th>
    <th>Started At</th>
    <th>Options</th>
  </tr>

  <% @games.each do |game| %>
    <tr>
      <td><%= link_to game.title, game %></td>
      <td><%= game.variant.name %></td>
      <td><%= game.start_time %></td>
      <td><%= link_to 'Delete', game, confirm: 'Are you sure?', method: :delete %></td>
    </tr>
  <% end %>
</table>

<br />
<%= link_to 'New Game', new_game_path %>



