<% content_for :includes do %><%= javascript_include_tag :game %><% end %>
<div ng-app="diplomacy" class="span12">
<!--div id="controls">
<%= link_to 'Back', games_path %>
</div-->

<div class="row">
	<h2><%= @game.name %></h2>
	<hr />
</div>
<div id="game" class="row" ng-controller="DiplomacyGameCtrl">
	<div id="map" class="span8"></div>
	<div id="state" class="span4">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#players" data-toggle="tab">Players</a></li>
			<li><a href="#orders" data-toggle="tab">Orders</a></li>
		</ul>
		<div class="tab-content">
			<%= render 'players_pane' %>
			<% if user_signed_in? and joined?(current_user, @game) and @game.started? %>
			<%= render 'orders_pane' %>
			<% end %>
		</div>
	</div>
</div>

</div>
