<!DOCTYPE html>
<html>
  <head>
    <title>RailsDiplomacy</title>
    <%= yield :prehead  %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= yield :afterhead %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div flash>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          <%= render 'sidebar' %>
        </div>

        <div class="span10">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
