<!DOCTYPE html>
<html>
<head>
  <title>RailsDiplomacy</title>
  <%= yield :prehead  %>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= yield :afterhead %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
