<!DOCTYPE html>
<html>
<head>
  <title>RailsDiplomacy</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :includes %>
</head>
<body>

<div id="notice" class="notice"><%= notice %></div>
<div id="alert" class="alert"><%= alert %></div>

<div id="container">
	<div id="header">
		<div id="menu">
			<ul>
				<% if user_signed_in? %>
					<li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
				<% else %>
					<li><%= link_to "Sign in", new_user_session_path %></li>
				<% end %>
			</ul>
		</div>
	</div>
	<div id="content">
<%= yield %>
	</div>
</div>

</body>
</html>
